
/* generelle Einstellung */

header {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  box-shadow: 0px 5px 13px 2px #c2c2c2;
}

canvas {
  margin: 1;
  background-color: #035030d7;
  height: 40rem;
  width: 40rem;
  margin-top: 1rem;
  
}

body {
  margin: 0;
  background-color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*text styling start*/
h1 {
  font-family: Arial, Helvetica, sans-serif;
}

#instruction {
  font-family: 'Courier New', Courier, monospace;
  max-width: 40rem;
}

/*text styling end*/


/*buttons start*/
#button {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

#button button {
  color: #035030d7;
  background: #c2c2c2;
  border: 2px solid #035030d7;
  border-radius: 0.25rem;
  width: auto;
  height: auto;
  font-size: xx-large;
  position: relative;
  margin: 1;
}

#button button:hover {
  color: #c2c2c2;
  background: #035030d7;
}

#instruction {
  display: flex;
  flex-direction: column;
}
/*buttons end*/

/* Einstellung für bestimmte Bildschirmgrößen */

/* window bigger than 40 rem*/
@media (min-width: 40rem) {
  #button button {
    width: 40rem;
  }
}

/* window smaller than 40 rem*/
@media (max-width: 40rem) {

  #button button {
    width: 100%;
  }

  canvas {
    height: 100%;
    width: 100%;
    margin-left: 0%;
  }

}

